* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    text-transform: none;
    color: white;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(48, 48, 48, 0.5); 
    background-size: 200% 200%;
    display: none;
    z-index: 0;
    overflow: hidden;
}

#playerInventoryFastItems {
    width: 625px;
    height: 120px;
    position : absolute;
    left: 0%;
    float:left;
    overflow:hidden;
    z-index: 99999 !important;
    
}

.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1550px;
    height: 600px;
    border: none;
    outline: none;
    font-size: 13px;

}

#playerInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

#controls {
    width: 300px;
    height: 600px;
    float: left;
    position: relative;
    opacity:0.9;
    background-color: rgba(105, 105, 105, 0.4);
    border-radius:5px;
    left: 0;
    top: 0;
}

#otherInventory {
    width: 625px;
    height: 600px;
    float: right;
    overflow-y: scroll;
}

#count {
    border: none;
    outline: none;
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    position: relative;
    float: left;
    width: 110px;
    height: 110px;
    text-align: center;
    border: 3px solid rgba(105, 105, 105, 0.9);
    background-color: rgba(103, 103, 103, 0.5);
    transition: all 0.2s ease;
    margin: 0.25vh;
    border-radius : 3px;
    overflow: hidden;
    bottom : -21.0%;
}

.slotfix {
    position: relative;
    float: left;
    width: 110px;
    height: 110px;
    text-align: center;
    border: 3px solid rgba(105, 105, 105, 0.9);
    background-color: rgba(103, 103, 103, 0.5);
    transition: all 0.2s ease;
    margin: 0.25vh;
    border-radius : 5px;
    overflow: hidden;
}

.slotFast {
    float: left;
    width: 110px;
    height: 110px;
    border: 3px solid rgba(105, 105, 105, 0.9);
    background-color: rgba(82, 82, 82, 0.5);
    transition: all 0.2s ease;
    margin: 0.25vh;
    position: relative;
    border-radius : 5px;
    overflow: hidden;
    z-index: 99999 !important;
}

.keybind {
    position: absolute;
    top: 0;
    z-index: 500;
    background-color : rgba(111, 111, 185, 0.9);
    padding : 1px 5px;
    border-bottom-right-radius : 3px;
    font-size : 1.1vh;
    text-align: center;
    z-index: 99999 !important;
}

.slot:hover, .slotFast:hover {
    filter: brightness(0.6);
}

.item,
.item-other {
    width: 110px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 2px;
    width: 117px;
    min-height: 13px;
    z-index: 500;
    font-size: 1.2vh;
    background-color: rgba(105, 105, 105, 0.75); 
    color: #ffffff;
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}

.item-count {
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    z-index: 500;
    background-color : rgba(105, 105, 105, 0.9); 
    padding : 0 5px 3px 7px;
    border-bottom-left-radius: 3px;
    font-size : 1.1vh;
}

.item-count2 {
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    z-index: 500;
    background-color : rgba(105, 105, 105, 0.9); 
    padding : 0 5px 3px 7px;
    border-bottom-left-radius: 3px;
    font-size : 1.1vh;
  }

.ammoIcon {
    width: 10px;
    height: 10px;
}

.info-div {
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius : 5px;
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.control {
    width: 150px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 5px;
    max-width: 165px;
    transition: ease-in 0.15s
}

.control.disabled {
    background-color: rgba(189, 44, 44, 0.692);
}

.hoverControl {
    background-color: rgba(151, 238, 38, 0.7);
}

.item-name-bg {
    width: 100%;
    width: 117px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: none;
    border:none
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(111, 111, 185, 0.4);
    border-radius:5px;
}

#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.38);
  border-radius:5px;
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: #ffffff;
    background-color: rgba(128, 187, 50, 0.7);
    text-shadow: none;
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}

.nearbyPlayerButton:hover {
    background-color: rgba(111, 111, 185, 0.4);
}

#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
}

@media (max-width: 1500px) {
    .inventory {
        width: 1300px;
    }

    #playerInventory, #playerInventoryFastItems {
        width: 550px;
    }

    .slot,.slotFast,.item,
    .item-other,.slotfix {
        width : 100px;
        height : 100px;
    }

    .item-name{width:100px}


    #controls {
        width: 200px;
    }

    #otherInventory {
        width: 550px;
    }

    #noSecondInventoryMessage {
        width: 540px;
    }
}

@media (max-width: 1300px) {
    .inventory {
        width: 1000px;
    }

    #playerInventory, #playerInventoryFastItems {
        width: 425px;
    }

    #controls {
        width: 150px;
    }

    #otherInventory {
        width: 425px;
    }

    #noSecondInventoryMessage {
        width: 420px;
    }
}


 body .ui .inventory .inventory-wrapper {
  display: inline-block;
  height: 100%;
  width: 40%;
  overflow: visible;
  position: absolute;
  left: 0;
 }
 
 body .ui .inventory .inventory-wrapper:last-child {
  right: 0;
  left: auto;
 }
 
 body .ui .inventory .inventory-wrapper #inventoryOne, body .ui .inventory .inventory-wrapper #inventoryTwo {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 19.35% 19.35% 19.35% 19.35% 19.35%;
  grid-gap: 0.7%;
  width: 100.5%;
  min-width: 100.5%;
  grid-auto-rows: 20%;
 }
 
 body .ui .inventory .inventory-wrapper #inventoryOne.disabled, body .ui .inventory .inventory-wrapper #inventoryTwo.disabled {
  filter: brightness(0.25);
  transition: filter ease-in 0.15s;
 }
 
 body .ui .inventory .inventory-wrapper .inv-label {
  font-size: 25px;
  width: 100%;
 }
 
 body .ui .inventory .inventory-wrapper .inv-id {
  text-align: left;
  font-size: 12px;
 }
 
 body .ui .inventory .inventory-wrapper .inv-slots {
  position: absolute;
  bottom: 0;
 }
 
 body .ui .inventory .inventory-wrapper .left-data {
  width: 100%;
  display: flex;
  position: absolute;
  top: -60px;
  padding-left: 5px;
  text-transform: none !important;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
 }
 
 body .ui .inventory .inventory-wrapper .left-data .inv-id {
  text-align: right;
 }
 
 body .ui .inventory .inventory-wrapper .left-data .inv-slots {
  right: 0;
 }
 
 body .ui .inventory .inventory-wrapper .left-data .inv-weight {
  text-align: center;
 }
 
 body .ui .inventory .inventory-wrapper .right-data {
  width: 100%;
  display: flex;
  position: absolute;
  top: -60px;
  padding-left: 5px;
  text-transform: none !important;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  right: 0;
  justify-content: flex-start;
 }
 
 body .ui .inventory .inventory-wrapper .right-data .inv-label {
  text-align: right;
 }
 
 body .ui .inventory .inventory-wrapper .right-data .inv-slots {
  left: 0;
  margin-right: auto;
 }

 body .ui .inventory #controls {
     display: inline-block;
     width: 18%;
     height: 100%;
     position: absolute;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     border: 0px solid #b3b6bb;
     transition: 0.2s;
   }
   
   body .ui .inventory #controls .info-div {
     text-align: center;
     padding: 10px;
     background-color: rgba(20, 11, 20, 0.75);
     width: 50%;
     position: absolute;
     left: 50%;
     top: 15%;
     transform: translate(-50%, -50%);
     border: 0px solid #b3b6bb;
   }
 
.Information {
  display: none;
  text-align: center;
  padding: 2px;
  padding-top: 7%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: white;
}

.Information hr, .weight-div hr {
border: none;
}

.Information .info-name, .info-name {
font-size: 15px;
border-bottom: 2px solid #ffffff;
}

.Information .info-uniqueness, .Information .info-meta, .info-meta {
font-size: 10px;
margin-top: 10px;
}

.Information .info-uniqueness .meta-key, .Information .info-uniqueness .meta-val, .Information .info-meta .meta-key, .Information .info-meta .meta-val, .info-uniqueness .meta-key, body .ui .inventory #controls .weight-div .info-uniqueness .meta-val, body .ui .inventory #controls .weight-div .info-meta .meta-key, body .ui .inventory #controls .weight-div .info-meta .meta-val {
display: inline-block;
}

.Information .info-desc, .info-desc {
font-size: 11px;
}

.Information .info-weight, .info-weight {
  font-size: 10px;
  }

.Information .tooltip-weight, body .ui .inventory #controls .weight-div .tooltip-weight {
font-size: 10px;
}

.item-quality {
  text-align: center;
  font-size: 7px;
  position: relative;
  height: 10px;
  top: 73%;
  bottom: 0px;
  color: white;
  line-height: 0.9vh;
  left: -1px;
  background: rgba(111, 195, 111, 0.9);
}

.inv-weight {
  width: 100%;
  border: 3px solid rgba(0, 138, 191, 0.8);
  position: absolute;
  bottom: 0;
  z-index: -1;
  border-radius: 8px;
}

.barweight {
  text-align: center;
  font-size: 7px;
  border-radius: 4px;
  position: relative;
  height: 10px;
  top: 73%;
  bottom: 0px;
  color: white;
  line-height: 0.9vh;
  left: -1px;
  background: rgba(111, 195, 111, 0.9);
}

.control-logo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://bergu.ru/favicon.ico);
  width: 100%;
  height: 119px;
}